<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Taylor</string>
		<key>lastName</key>
		<string>Swift</string>
		<key>usernameTwitter</key>
		<string></string>
		<key>createdPost</key>
		<string></string>
		<key>likeButton</key>
		<string></string>
		<key>share</key>
		<string></string>
		<key>comment</key>
		<string></string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageProfile</key>
		<string>taylor_swift.jpg</string>
		<key>imagePost</key>
		<string></string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Steve</string>
		<key>lastName</key>
		<string>Jobs</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>steve_jobs.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Sara</string>
		<key>lastName</key>
		<string>Evans</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>sara_evans.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Miranda</string>
		<key>lastName</key>
		<string>Lambert</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>miranda_lambert.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Mila</string>
		<key>lastName</key>
		<string>Kunis</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>mila_kunis.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Pitt</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>brad_pitt.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Chris</string>
		<key>lastName</key>
		<string>Thorrrrr</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>thor.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jhonny</string>
		<key>lastName</key>
		<string>Deep</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>deep.jpg</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Sara</string>
		<key>lastName</key>
		<string>Evans</string>
		<key>description</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500</string>
		<key>imageName</key>
		<string>sara_evans.jpg</string>
	</dict>
</array>
</plist>
